header{
    font-size: 24px;
	font-family: 'Space Mono', monospace;
	text-align: center;
}

main{
	margin-left: 150px;
}

.box{
	display: block; 
	float: left;
	width: 30%;
	padding: 10px;
	padding-left: 12px;
}

img{
	width: 100%;
	border-radius: 2px;
}

img:hover{
	transform: scale(1.5);
	 filter: none;
     cursor: pointer;
}